<html>
    <header>
        <title>FreeKick</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
        <script src="{{ url_for('static', filename='js/freekick.js') }}"></script>
    </header>
    <body>
        <div id="page-container">
            <!-- Head -->
            <head>
                <h1>FreeKick - Open Football Prediction</h1>
            </head>
            <!-- End Head -->

            <div id="content-wrapper">
                <p>
                    <label for="league">League</label>
                    <select name="league" id="league" onchange="javascript: dynamicTeamDropdown(this.options[this.selectedIndex].value);">
                        <option value="null"></option>
                        <option value="epl">English Premier League</option>
                        <option value="bundesliga">Bundesliga</option>
                    </select>
                </p>
                <p>
                    <label for="homeTeam">Home Team</label>
                    <select name="homeTeam" id="homeTeam">
                        <option value="null"></option>
                    </select>
                </p>

                <p>
                    <label for="awayTeam">Away Team</label>
                    <select name="awayTeam" id="awayTeam">
                        <option value="null"></option>
                    </select>
                </p>
                <div>
                    <button type="button" id="predictgame">Predict Game</button>
                    <button type="button" id="predictmatchday">Predict Next Matchday</button>
                </div>
                <p id="result"></p>
            </div>

            <!-- Footer -->
            <footer id="footer-container">
                <div class="copy-rights">
                    <p>Author: Kevon Scott</p>
                    <p>©2021 Kevon Scott All rights reserved.</p>
                </div>
            </footer>
            <!-- End Footer -->
        </div>
    </body>
</html>
