<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Settings</title>
    <!-- <link rel="stylesheet" href="css/setting.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/setting.css') }}">
</head>
<body>
    <div class="container">
        <h1>Settings</h1>
        <form id="settings-form">
            <label for="default_league">Default League:</label>
            <select id="default_league" name="default_league">
                <option value="EPL">EPL</option>
                <option value="BUNDESLIGA">BUNDESLIGA</option>
            </select>

            <label for="default_model">Default Model:</label>
            <select id="default_model" name="default_model"></select>

            <label for="workspace">Workspace Path:</label>
            <input type="text" id="workspace" name="workspace">

            <button type="submit">Save Settings</button>
        </form>
    </div>

    <!-- <script src="setting.js"></script> -->
    <script src="{{ url_for('static', filename='js/setting.js') }}"></script>

</body>
</html>